@model IEnumerable<ProjectHeart.Models.Paciente>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Paciente
                </h2>
                <ul class="header-dropdown m-r--5">
                    <!--sandwich top right--> 
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <h2 class="card-inside-title">Buscar Paciente</h2>
                
                <div class="row clearfix">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" class="form-control" placeholder="col-sm-4" />
                            </div>
                        </div>
                    </div>
                    
           
                </div>
            </div>
        </div>
    </div>
</div>


